/* GALLERY CSS */
.gallery-secondary-title {
  font-size: 1.5625rem;
  margin: 0.625rem 0;
  border-bottom: 1px solid #ccc;
}
.gallery-today-slider {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}
.gallery-today-slider img {
  width: 100%;
  height: auto;
  border: 0 !important;
}
.gallery-today-slider .bjqs-prev a {
  -webkit-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.3);
}
.gallery-today-slider .bjqs-next a {
  -webkit-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 0px 2px rgba(0, 0, 0, 0.3);
}
.gallery-today-slider .bjqs-prev a,
.gallery-today-slider .bjqs-next a {
  display: block;
  padding: 10px;
  background-color: #fff;
}
.gallery-today-slider .bjqs-caption {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 1.25rem;
  text-shadow: 0 0 2px #fff;
  font-weight: bold;
}
.gallery-thumb {
  width: 29%;
  height: 225px;
  background-color: #333;
  float: left;
  margin: 1%;
  padding: 10px;
  line-height: 1.2;
}
.gallery-thumb img {
  width: 100%;
  height: 150px;
  border: solid 1px #666 !important;
}
.gallery-thumb img:hover {
  border: solid 1px #fff !important;
}
.gallery-thumb a {
  text-decoration: none;
  color: #fff;
}
.gallery-thumb .gallery-image-caption {
  height: 60px;
  font-size: 15px;
  display: block;
  color: #fff;
  overflow: hidden;
}
.gallery-thumb .gallery-grid-footer {
  background-color: #202020;
  color: #ededed;
  padding: 2px;
  text-align: center;
  display: block;
  text-transform: uppercase;
}
.gallery-thumb .gallery-grid-footer:hover {
  background-color: #000;
  color: #fff;
}
.gallery-thumb:hover {
  background-color: #484848;
}
/*
// Target the First Column
.gallery-thumb:nth-child(3n+1){
  margin-left: 0;
  background: red !important;
}

// Target the Third Column
.gallery-thumb:nth-child(3n){
  //float: right;
  margin-right: 0;
  background: green !important;
}
*/
.gal-col-one {
  margin-left: 0;
}
.gal-col-third {
  float: right;
  margin-right: 0;
}
.news-gallery-navigation .page-numbers {
  background-color: #f8f8f8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 0.1em 0.5em;
  font-size: 0.875rem;
  border: 1px solid #ededed;
}
.news-gallery-navigation .current,
.news-gallery-navigation .next,
.news-gallery-navigation .prev {
  font-weight: bold;
}
.news-gallery-navigation .current {
  cursor: default;
}